<a href="https://colab.research.google.com/github/jordantcarlisle/eda-example/blob/main/Example_of_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Getting started with exploratory data analysis

Exploratory data analysis is a critical process in data science. It's the first thing you do to begin working with a new dataset and will influence analytical design decisions througout a project. 


In thie example, we will demonstrate an exploratory data analysis process using python in Google Colab. If you'd like to follow along, it's as easy as going to https://colab.research.google.com adding code blocks, copying what's in this notebook, and running the cells. 


If you need/want a deeper explaination, here's a fancy video from the Google TensorFlow team - https://www.youtube.com/watch?v=inN8seMm7UI

Inspiration and ideas for this tutorial came from this post on Towards Data Science titled [An Extensive Step by Step Guide to Exploratory Data Analysis](https://towardsdatascience.com/an-extensive-guide-to-exploratory-data-analysis-ddd99a03199e) by Terence Shin

## The Setup

In [ ]:
# Importing python libraries
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
import zip

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip', compression='zip')

ValueError: ignored

## 1. Understanding Your Variables

In [ ]:
df.shape

(149, 5)

In [ ]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
df.columns

Index(['alpha', 'beta', 'gamma', 'delta', 'epsilon', 'zeta', 'eta'], dtype='object')

In [ ]:
df.nunique(axis=0)
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

In [ ]:
df.condition.unique()

## 2. Cleaning your dataset

In [ ]:
a. Removing Redundant variables
b. Variable Selection
c. Removing Outliers
d. Removing Rows with Null Values

## 3. Analyzing relationships between variables

In [ ]:
# calculate correlation matrix
corr = df_cleaned.corr()# plot the heatmap
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns, annot=True, cmap=sns.diverging_palette(220, 20, as_cmap=True))

In [ ]:
df_cleaned.plot(kind='scatter', x='odometer', y='price')

In [ ]:
df_cleaned.plot(kind='scatter', x='year', y='price')

In [ ]:
sns.pairplot(df_cleaned)

In [ ]:
df_cleaned['odometer'].plot(kind='hist', bins=50, figsize=(12,6), facecolor='grey',edgecolor='black')df_cleaned['year'].plot(kind='hist', bins=20, figsize=(12,6), facecolor='grey',edgecolor='black')

In [ ]:
df_cleaned['year'].plot(kind='hist', bins=20, figsize=(12,6), facecolor='grey',edgecolor='black')

In [ ]:
df_cleaned.boxplot('price')